
/* imports ===================================================== */

/* general ----------------------------------------------------- */
@import url("./general/texts.css");
@import url("./general/buttons.css");
@import url("./general/colors.css");

/* menu game --------------------------------------------------- */
@import url("./menu_game/description_window.css");
@import url("./menu_game/settings_game.css");
@import url("./menu_game/menu_game.css");

/* game play --------------------------------------------------- */
@import url("./game_play/info_panel.css");
@import url("./game_play/play_field.css");
@import url("./game_play/snake.css");

/* main ======================================================== */
* { padding: 0; margin: 0; }

body {

    background-color: #38B54C;

    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #16481E;

}

.game_container {

    height: 100vh;
    margin: 0 auto;

    box-sizing: border-box;

    display: flex;
    align-items: center;

}

/* media ======================================================= */
@media screen and (max-width: 2000px) {
    .game_container { width: 1400px; }
}
@media screen and (max-width: 1600px) {
    .game_container { width: 1300px;  }
}
@media screen and (max-width: 1366px) {
    .game_container { width: 100%;  padding: 0 50px;  }
}