
#description_window {

    flex: 0 1 55%;
    height: 100%;

    background-color: black;
    opacity: 0.6;

    border-radius: 20px;

}

#description_window::after {
    color: #38B54C;
    font-size: 4em;
    content: "Hello";
    display: block;
    text-align: center;
    position: relative;
    top: 37.5%;
}