
/* main ======================================================== */

/* settings game container ------------------------------------- */
.settings_game__container {

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* game name --------------------------------------------------- */
#game_name {
    font-size: 2.5em;
    font-weight: 400;
}

/* settings game ----------------------------------------------- */

/* container setting */
.container_setting {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.container_setting span {
    margin-right: 10px;
}

.container_setting input {
    display: inline;
    width: 55px;
}

/* icon setting */
.icon_setting {

    display: inline-block;
    margin-right: 15px;

    height: 50px;
    width: 50px;

    text-align: center;

    border-radius: 50%;
    border: 2px solid #16481E;
    background-color: #5BDA6F;

    cursor: pointer;

    transition: background-color .3s linear;

}

.icon_setting:hover {
    transition: background-color .1s linear, color .3s linear;
    background-color: #16481E;
    color: #5BDA6F;
}

.icon_setting img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 30%;
}

/* setting name */
.setting_name {
    display: inline-block;
}

/* field input */
.field_input {

    margin-left: 5px;

    font-size: 1em;
    text-align: center;
    color: #16481E;

    background-color: #5BDA6F;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;

    box-sizing: border-box;
    padding: 5px;

}

.field_input:focus {
    border: 2px solid #16481E;
}

/* start game button ------------------------------------------- */
#start_game_button {

    width: 180px;
    height: 50px;

    font-size: 1em;
    color: #16481E;

    background-color: #5BDA6F;
    border: 2px solid #16481E;
    border-radius: 15px;

    box-sizing: border-box;
    padding: 10px 30px;

    transition: background-color .3s linear;

    cursor: pointer;
}

#start_game_button:hover {
    transition: color .3s linear;
    background-color: #16481E;
    color: #5BDA6F;
}

/* media ======================================================= */
