:root {
    --light-bg-color: #38b55d;
    --over-light-bg-color: #47d872;
    --dark-text-color: #16481E;
}

/* #41c989; */
/* #38B54C; */
/* background: linear-gradient(135deg, #38B54C, #38b55d, #41c975); */