
.play_field__container {

    width: 100%;
    height: 100%;
    position: relative;

    border-radius: 20px;
    overflow: hidden;

}

#play_field, #snake_layer{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#play_field td {
    background-color: #16481E;
}

#play_field tr:nth-child(even) td:nth-child(odd),
#play_field tr:nth-child(odd) td:nth-child(even) {
    background-color: #5BDA6F;
}